<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Game</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="./styles/game.css">
  </head>
  <body>

    <a href="/"><img class = "backArrow" src="./assets/backArrow.png"></a>

    <div class="title">
      <h3 id="name">Donald Trump or Kanye West?</h3>
    </div>

    <div class="text">
      <h2 id="question">None</h2>
    </div>

    <div class = "images">
      <div class="imageContainer">
        <img onclick="checkAns('kanye')" src = "assets/kanye.png"> 
        <p>Kanye West</p>
      </div>
      <div class="imageContainer">
        <img onclick="checkAns('trump')" src = "assets/trump.png">
        <p>Trump</p>
      </div>
    </div>

    <div class="resultImgContainer">
      <img id="resultImg" src = "none">
    </div>

    <div class="stats text">
      Score: <p id="score">0</p>
      Lives: <p id="lives">3</p>
    </div>

    <script>
      let answers = ["Kanye", "Trump"];
      let correct = ["./assets/correct1.jpg", "./assets/correct2.webp", "./assets/correct3.gif"]
      let answer = "";
      let score = 0;
      let lives = 3;
      let question = document.getElementById("question");

      const resultImg = document.getElementById("resultImg");

      resultImg.addEventListener("animationend", () => {
        resultImg.style.display = "none";
      });

      function generateQuestion() {
        if (lives > 0) {
          answer = answers[Math.floor(Math.random() * answers.length)];

          if (answer === "Trump") {
            fetch("https://api.whatdoestrumpthink.com/api/v1/quotes/random")
              .then((res) => res.json())
              .then((res) => {
                question.innerHTML = res.message;
              });
          } else {
            fetch("https://api.kanye.rest/")
              .then((res) => res.json())
              .then((res) => {
                question.innerHTML = res.quote;
              });
          }
        } else {
          endGame();
        }
      }

      function endGame() {
        window.location.href = `/gameOver?score=${score}`;
      }
      function checkAns(ans) {
        if (answer.toLowerCase() === ans) {
          resultImg.src = correct[Math.floor(Math.random() * correct.length)]
          resultImg.style.display = "block";
          score++;
          document.getElementById("score").innerHTML = score;
        } else {
          console.log("false");
          resultImg.src = "./assets/incorrect1.webp"
          resultImg.style.display = "block";
          lives = lives - 1;
          document.getElementById("lives").innerHTML = lives;
        }
        generateQuestion();
      }

      generateQuestion();
    </script>
  </body>
</html>
