<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Game</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="./styles/gameOver.css">
  </head>

  <body>
    <a href="/"><img class = "backArrow" src="./assets/backArrow.png"></a>

    <div class="title">
      <h3 id="name">Game Over!</h3>
    </div>

    <div class = "center">
      <h1>Your Score: <%- score %></h1>
    </div>

    <div class="endGameContainer">
      <form id="endGame" method="post">
        <h2><u>Save your score</u></h2>
        
        <!--hidden input values to submit score in form-->
        <input type="hidden" id="scoreInput" name="score" value="<%- score %>">
        <input type="hidden" id="catUrl" name="url" value="0">

        <div class="formRow">
          <p>Input Name:</p>
          <input type="text" id="name" name = "name" placeholder="Name">
        </div>

        <img src = "none.jpg" alt = "none" name = "cat" id="cat">

        <div class="formRow">
          <button type="button" onclick="switchCat()">Switch Cat</button>
          <button type="submit">Submit</button>
        </div>
      </form>
    </div>

  </body>

  <script>
      switchCat()
      function switchCat(){
        console.log("CAT")
        let cat = document.getElementById("cat")

        fetch("https://api.thecatapi.com/v1/images/search")
            .then((response) => response.json())  
            .then((data) => {
              cat.src = data[0].url;
              document.getElementById("catUrl").value = data[0].url;
            });   
      }
  </script>
</html>

<script>

</script>
