<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Quote Game</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="./styles/index.css">
    </head>

    <body>
        <div class="banner">
            <h1>Donald Trump or Kanye West?</h1>
            <div class = "images">
                <img src = "assets/kanye.png">
                <img src = "assets/trump.png">
            </div>
            <p>Choose an option below to get started</p>
        </div>
        <a href="/game">Play Game</a>
        <a href="/leaderBoard">Leaderboard</a>
    </body>
</html>