@import url('https://fonts.googleapis.com/css2?family=Felipa&family=Poetsen+One&display=swap');

html, body{
    display: flex;
    flex-direction: column;
    background-color: #6200ea;
    height: 100%;
    width: 100%;
    margin:0px;
}

h1, h2, h3, p {
    font-family: 'Poetsen One', sans-serif;
    color: white;
}

.endGameContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}

#endGame{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #5000bf;
    border: 5px solid #41009d;
    border-radius: 20px;
    width: 80%;
    padding: 1%;
}
img{
    width: 200px;
    height: 200px;
}
.backArrow{
    height: 80px;
    width: auto;
    position: absolute;
    margin-left: 30px;
    margin-top: 30px;;
    transition: 0.4s;
}
.backArrow:hover{
    transform: translateX(7px);
}
.title{
    font-size: 50px;
    font-family: 'Poetsen One', sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 20px;
}
.formRow{
    display: flex;
    gap: 10px;
    height: 30px;
    align-items: center;
    font-size: 20px;
}

.center{
    width: 100%;
    display: flex;
    justify-content: center;
}
button{
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    background-color: #6f12f2;
    border-radius: 5px;
    border: 2px solid #3d0092;
    transition: 0.2s;
}
button:hover{
    background-color: #530db6;
}

#cat {
    margin: 30px;
    height: 300px;
    width: auto;
}